*.[oa]
*~
*.lo
*.la
*.pc
*.tar.*
Makefile.in
Makefile
aclocal.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
build-aux/
build*
config.h.in
config.h
config.log
config.status
configure
stamp-h1
libtool
.dirstamp
.deps
.libs
vlc_deps/
